<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Chippy uses the local network to discover and connect with nearby players for multiplayer gaming.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_chippy._udp.</string>
	</array>
</dict>
</plist>
